[submodule "SpringBotRunner"]
	path = SpringBotRunner
	update = rebase
	url = https://github.com/viclew1/SpringBotRunner.git
[submodule "BotManagerEntities"]
	path = BotManagerEntities
	update = rebase
	url = https://github.com/viclew1/BotManagerEntities.git
[submodule "BotManager"]
	path = BotManager
	update = rebase
	url = https://github.com/viclew1/BotManager.git
[submodule "HHBot"]
	path = HHBot
	update = rebase
	url = https://github.com/viclew1/HHBot.git
[submodule "LeekwarsBot"]
	path = LeekwarsBot
	update = rebase
	url = https://github.com/viclew1/LeekwarsBot.git
[submodule "StocksBot"]
	path = StocksBot
	update = rebase
	url = https://github.com/viclew1/StocksBot.git

